<nav class="navbar shadow-lg fixed-top navbar-expand-lg navbar-dark bg-secondary border-bottom border-5 border-primary py-0">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      Mr_Stoffer
    </a>
    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mt-0 mt-lg-0">
          {%- for item in site.navigation -%}
            {%- assign link_slash = item.link | append: "/" -%}
            {%- assign active_class = "" -%}
            {%- if item.link == "/" -%}
              {%- if page.url == "/" -%}
                {%- assign active_class = "active" -%}
              {%- endif -%}
            {%- else -%}
              {%- if page.url contains item.link -%}
                {%- assign active_class = "active" -%}
              {%- endif -%}
            {%- endif -%}
            {% if item.collection %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle {{active_class}}" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ item.name }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item {% if page.url == item.link or page.url == link_slash %}active{% endif %}" href="{{ item.link }}">All {{ item.name | downcase }}</a>
                </li>
                <li><hr class="dropdown-divider"></li>
                {% for category in site[item.collection] %}
                <li>
                  <a class="dropdown-item {% if page.url == category.url %}active{% endif %}" href="{{ category.url }}">{{ category.title }}</a>
                </li>
                {%- endfor -%}
              </ul>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link {{active_class}}" href="{{ item.link }}">{{ item.name }}</a>
            </li>
            {% endif %}
          {%- endfor -%}
      </ul>
    </div>
  </div>
</nav>

<style>
.navbar-brand {
  color: #FFF;
  font-weight: bold;
  /* padding: 10px; */
  background-color: #AE0202;
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px !important;
  line-height: 1 !important;
  height: auto;
}

.navbar .container-fluid {
  align-items: stretch !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: 100%;
}

/* nav {
  padding: 30px;
} */

.nav-link {
  font-weight: bold;
  /* color: #2c3e50; */
}

nav a.router-link-exact-active {
  color: #42b983;
}

@media (min-width: 992px) {
  .border-primary .nav-link.active, .border-primary .nav-link:hover {
    background-color: var(--bs-primary);
  }
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
  .nav-link {
    padding-top: 100%;
    padding-bottom: 100%;
  }
}

@media (max-width: 991px) {
  
  .navbar-nav .nav-link.active {
    background-color: #AE0202;
    color: #FFF !important;
    font-weight: bold;
    width: 100%; 
  }
}

.dropdown-menu{
  position:absolute;
  z-index: -1;
}

.navbar .navbar-nav>li>a, .navbar-brand {
  padding: 15px;
  margin-bottom: -2px;
}
.navbar .navbar-brand {
  padding-top: 0px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(174,2,2, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border: none;
  border-radius: 0;
}
.custom-toggler.navbar-toggler:focus,.custom-toggler.navbar-toggler:active {
   outline: none !important;
   box-shadow: none;
}
</style>
