<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-secondary border-bottom border-5 border-primary py-0">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      Mr_Stoffer
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mt-0 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link {% if page.url == '/' %}active{% endif %}" href="/">Home</a>
          </li>
          {%- for item in site.data.navigation -%}
            <li class="nav-item">
              <a class="nav-link {% if page.url == my_page.url %}active{% endif %}" href="{{ item.link }}">{{ item.name }}</a>
            </li>
          {%- endfor -%}
      </ul>
    </div>
  </div>
</nav>

<style>
.navbar-brand {
  color: #FFF;
  font-weight: bold;
  /* padding: 10px; */
  background-color: #AE0202;
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px !important;
  line-height: 1 !important;  /* Collapses the invisible text bounding box */
  height: auto;
}

.navbar .container-fluid {
  align-items: stretch !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  height: 100%;
}

/* nav {
  padding: 30px;
} */

.nav-link {
  font-weight: bold;
  /* color: #2c3e50; */
}

nav a.router-link-exact-active {
  color: #42b983;
}

@media (min-width: 992px) {
  .border-primary .active, .border-primary .nav-link:hover {
    background-color: var(--bs-primary);
  }
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
  .nav-link {
    padding-top: 100%;
    padding-bottom: 100%;
  }
}

@media (max-width: 991px) {
  
  .navbar-nav .nav-link.active {
    background-color: #AE0202;
    color: #FFF !important;
    font-weight: bold;
    width: 100%; 
  }
}

/* .active.ftc {
  background-color: var(--bs-primary) !important;
}

.stt:active, .stt.active {
  background-color: var(--bs-stt) !important;
}

.sta:active, .sta.active {
  background-color: var(--bs-sta) !important;
} */

.dropdown-menu{
  position:absolute;
  z-index: -1;
}

.navbar .navbar-nav>li>a, .navbar-brand {
  padding: 15px;
  margin-bottom: -2px;
}
.navbar .navbar-brand {
  padding-top: 0px;
}
</style>
