@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

@import 'bootstrap/functions';

// custom variables
$primary: #ae0202;
$secondary: #1a1a1a;
// $stt: #e57626ff;
// $sta: #4285f4;
$instagram: #C13584;
$fullblack: #000000;
$github: #333;
$youtube:#FF0000;

$font-family-base: "Google Sans Code", monospace;
// $font-family-sans-serif: Verdana, Geneva, sans-serif;

@import 'bootstrap/variables';

// import functions and variables

@import 'bootstrap/mixins';


$custom-theme-colors: (
    // "stt": $stt,
    // "sta": $sta,
    "instagram": $instagram,
    "fullblack": $fullblack,
    "github": $github,
    "youtube": $youtube,
);

@import 'bootstrap/maps';

$theme-colors: map-merge($custom-theme-colors, $theme-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

@import 'bootstrap/utilities';

// import bootstrap
@import 'bootstrap/bootstrap';


body { 
  margin: 0 !important;
  height: 100%;
  width: 100%;
  // font-family: Avenir, Helvetica, Arial, sans-serif; 
  // font-family: Verdana, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // color: #2c3e50; 
}

html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

svg {
  width: 1em;
  height: 1em;
}

@media (max-width: 991px) {
  html {
    font-size: calc(1em + 1vw);
  }
}

#app {
  color: black;
  height: 100%;
}

/* .page {
    padding-top: 60px;
} */

.btn-outline-light:hover {
    color: var(--bs-dark) !important;
}

.card-img-top {
  width: 100%;
}

.title .container-fluid {
  padding-top: 100px;
  padding-bottom: 60px;
  width: 100%;
}

.content .container-fluid {
    max-width: 1200px;
}

.notify {
  padding: .50em;
}

/* header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #1a1a1a;
  margin: 0;
  border-bottom: 5px solid;
  z-index: 1000;
}

.main {
  border-color: #009aa6;
}

.stt {
  border-color: #e57626ff;
}

.sta {
  border-color: #4285f4;
}

nav {
  text-align: center;
}

nav div {
  padding: 10px;
  padding-left: 0px;
  font-size: 0px;
  text-align:center;
  margin: 0 auto !important; 
  display:inline-block
}

nav div a {
  padding: 10px;
  transition: background-color 0.5s;
  font-size: 16px;
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
}

.navbar.right.mainnav a:hover, .navbar.right.mainnav .router-link-active {
  background-color: #009aa6;
}

.navbar.right.sttnav a:hover, .navbar.right.sttnav .router-link-active {
  background-color: #e57626ff;
}

.navbar.right.stanav a:hover, .navbar.right.stanav .router-link-active {
  background-color: #4285f4;
}

.title {
  font-size: 16px;
  color: #FFF;
  font-weight: bold;
  padding: 10px;
  background-color: #e57626ff;
  margin: 0;
}

.sttlogo {
  background-color: #e57626ff;
}

.stalogo {
  background-color: #4285f4;
}

.mainlogo {
  background-color: #009aa6;
}

.divider {
  color: #FFF;
  font-weight: bold;
  padding: 10px;
  margin: 0;
}

.title img {
  width: 16px;
  height: calc(600px / 56.25);
  margin: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

li.selected {
  font-size: 16px;
  padding: 10px;
  background-color: #AE0202;
  font-weight: bold;
} */