# config.yml

local_backend: true

backend:
  name: github
  repo: mrstoffer/mrstoffer.github.io
  base_url: https://sveltia-cms-auth.mrstoffer.workers.dev
media_folder: 'assets/uploads'
collections:
  - name: 'blog'
    label: 'Blog'
    folder: '_posts/'
    create: true
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    editor:
      preview: false
    fields:
      - { label: 'Layout', name: 'layout', widget: 'hidden', default: 'post' }
      - { label: 'Title', name: 'title', widget: 'string' }
      - { label: 'Publish Date', name: 'date', widget: 'datetime', format: "YYYY-MM-DD HH:mm:ss ZZ" }
      - { label: 'Body', name: 'body', widget: 'markdown' }
  - name: 'pages'
    label: 'Pages'
    create: true
    editor:
      preview: false
    fields:
      - { label: 'Title', name: 'title', widget: 'string', default: 'about' }
      - { label: 'Layout', name: 'layout', widget: 'string', default: 'about' }
      - { label: 'Body', name: 'body', widget: 'markdown' }