<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="/assets/css/bootstrap.css"> -->
</head>
<body class="d-flex flex-column min-vh-100">
  {% include nav.html %}
  <main>
    <div id="app">
      {{ content }}
    </div>
  </main>
  {% include footer.html %}
  <script src="/assets/js/bootstrap.bundle.js"></script>
  <script src="/assets/js/main.js"></script>
</body>
</html>