---
layout: default
---

<div class="home">

  <div id="banner" class="border-5 border-bottom border-primary bg-secondary">
    <div class="landing-text">
      <h1 class="pb-5 text-primary">Mr_Stoffer</h1>
      <a href="#welcome" class="btn btn-outline-primary arrowbtn mt-5">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
        </svg>
      </a>
    </div>
  </div>

  {{ content }}

  <section id="blog">
    <div class="container-fluid border-top border-primary border-5">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-6 text-center">
          <h1>Latest posts</h1>
          <hr class="mt-4"/>
        </div>
      </div>
    </div>
    {%- if site.posts.size > 0 -%}
    <div class="container-fluid pb-0 pt-0 cards">
      <div class="row justify-content-center">
        {%- for post in site.posts -%}
        <div class="col-12 col-lg-6 col-xl-4 mb-4">
          {% include card.html post=post %}
        </div>
        {%- endfor -%}
      <div>
    </div>
    <div class="container-fluid" style="padding-top: 0;">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center">
          <a id="to-blog" href="/archive" class="btn btn-primary text-light mb-2">More posts</a> <br/>
          <!-- <a class="rss-subscribe btn btn-outline-primary" href="{{ "/feed.xml" | relative_url }}">Subscribe via RSS</a> -->
        </div>
      </div>
    </div>
    {%- endif -%}
  </section>
</div>

<style scoped>
#banner {
  display: table;
  position: relative;
  width: 100%;
  height: 100vh !important;
  background-size: cover;
}

@media (min-width: 992px) {
  #banner {
    height: 60vh !important;
  }
}

.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: white;
}

section .container-fluid {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
}

.arrowbtn:hover {
  color: var(--bs-light) !important;
} 

#robotimg {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/images/robots.jpeg) no-repeat center center fixed;
  display: table;
  height: 40%;
  position: relative;
  width: 100%;
  background-size: cover;
}

.accstt:not(.collapsed) {
  color: var(--bs-dark) !important;
  background-color: var(--bs-stt) !important;
}

.accsta:not(.collapsed) {
  background-color: var(--bs-sta) !important;
}
</style>