---
layout: default
---
<div class="page">
  <section class="title">
    <div class="container-fluid bg-primary text-light border-bottom border-5 border-primary">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-6 text-center">
          {% if page.breadcrumbs %}{% include breadcrumbs.html %}{% endif %}
          <h1>{{ page.title | escape }}</h1>
          {%- if page.subtitle -%}
          <h3 class="d-none d-md-block mt-4 mb-0">{{ page.subtitle || escape }}</h3>
          <p class="d-block d-md-none lead mt-4 mb-0">{{ page.subtitle || escape }}</p>
          {%- endif -%}
          {%- if page.skipbtn -%}
          <a href="{{ page.skipbtn }}" class="btn btn-outline-light d-lg-none mt-4 mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
            </svg>
          </a>
          {%- endif -%}
        </div>
      </div>
    </div>
  </section>
  {{ content }}
</div>